# Node modules
node_modules

# Git
.git
.gitignore

# Environment files
.env
.env.example

# Documentation
*.md
readme-files/

# Docker files
Dockerfile
.dockerignore
docker-compose.yml
docker.ps1
docker.sh

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
