/* Item quality colors */
.q  { color: #ffd100 }
.q0, .q0 a { color: #9d9d9d }
.q1, .q1 a { color: #ffffff; }
.q2, .q2 a, .q2:hover { color: #1eff00 }
.q3, .q3 a { color: #0070dd }
.q4, .q4 a { color: #a335ee }
.q5, .q5 a { color: #ff8000 }
.q6, .q6 a { color: #e5cc80 }
.q7, .q7 a { color: #e5cc80 }
.q8, .q8 a { color: #ffff98 }
.q9, .q9 a { color: #71D5FF }
.q10, .q10 a { color: #ffd100 }
.q11, .q11 a { color: #ff4040 }

.c1,.c1 a { color: #c69b6d !important }
.c2,.c2 a { color: #f48cba !important }
.c3,.c3 a { color: #aad372 !important }
.c4,.c4 a { color: #fff468 !important; text-shadow: #000 1px 1px; }
.c5,.c5 a { color: #fff !important; text-shadow: 1px 1px 1px black; }
.c6,.c6 a { color: #c41e3b !important }
.c7,.c7 a { color: #2359ff !important }
.c8,.c8 a { color: #68ccef !important }
.c9,.c9 a { color: #9382c9 !important }
.c10,.c10 a { color: #008467 !important }
.c11,.c11 a { color: #ff7c0a !important }
.c12,.c12 a { color: #a330c9 !important }

.s-wow-tooltip[data-type="npc"],
.s-wow-tooltip[data-type="quest"] {
    color: #ffd100;
}

.s-wow-tooltip[data-type="achievement"],
.s-wow-tooltip[data-type="npc"],
.s-wow-tooltip[data-type="quest"] {
    text-shadow: #000 1px 1px;
}

/* Sockets */
.socket-slot {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 23px;
}
.socket-meta   { background-image: url(./images/icons/socket_meta.gif) }
.socket-red    { background-image: url(./images/icons/socket_red.gif) }
.socket-yellow { background-image: url(./images/icons/socket_yellow.gif) }
.socket-blue   { background-image: url(./images/icons/socket_blue.gif) }
.socket-prismatic { background-image: url(./images/icons/socket-prismatic.gif) }
.socket-hydraulic { background-image: url(./images/icons/socket-hydraulic.gif) }
.socket-cogwheel { background-image: url(./images/icons/socket-cogwheel.gif) }
/* Tooltip */
#s-wow-tooltip.active {
    padding: 5px 7px;
    background-color:#070c21;
    background-color: rgba(7,12,33,0.9);
    border-radius: 3px;
    border:1px solid #777777;
    border-top:1px solid #cfcfcf;
    -webkit-box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
    color: #fff;
    font-size: 12px;
    line-height:1.5;
    display: none;
    position: absolute;
    z-index: 15000;
}

.s-wow-tooltip-body.s-wow-tooltip-body-quest
{
    width: unset;
    min-width: 330px;
}

.s-wow-tooltip-body .icon {
    width: 45px;
}

.s-wow-tooltip .icon {
    width: 18px;
    vertical-align: middle;
}

.s-wow-tooltip-spell .s-wow-tooltip--rank {
    float: right;
    color: #d3d3d3;
    font-size: 15px;
}
.s-wow-tooltip--title {
    font-size: 16px;
    float: left;
    width: 100%;
    /* margin-bottom: 5px; */
}
.s-wow-tooltip-body-quest .w-100 {
    width:100%;
}

.s-wow-tooltip--points {
    font-size: 80%;
    padding-left: 10px;
}

.item-set-piece {
    padding-left: 10px;
}

.s-wow-tooltip.q1, .s-wow-tooltip.q1 a {
    text-shadow: 1px 1px 0.05rem black;
}

.s-wow-tooltip--title .s-wow-tooltip--points {
    float: right;
    margin-top: 2px;
}

.s-wow-tooltip-guild .s-wow-tooltip--points {
    float: right;
    margin-top: 2px;
    font-size: 110%;
}

.s-wow-tooltip-clear {
    clear: both;
}

.s-wow-list-unstyled
{
    list-style-type: none;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.s-wow-tooltip-body ul {
    list-style-type: none;
    padding-left: 5px;
}

.s-wow-tooltip-body.s-wow-tooltip-body-quest ul {
    list-style-type: none;
    padding-left: 0px;
}

.s-wow-tooltip-body ul > li:before {
    content: "-";
    text-indent: -5px;
}
.moneygold {
    margin-left: 2px;
    padding-right: 18px;
    background: url(./images/icons/money-gold.gif) left center no-repeat;
}

.moneysilver {
    margin-left: 2px;
    padding-right: 18px;
    background: url(./images/icons/money-silver.gif) left center no-repeat;
}

.moneycopper {
    margin-left: 2px;
    padding-right: 18px;
    background: url(./images/icons/money-copper.gif) left center no-repeat;
}

.icon-horde {
    padding-left: 19px;
    background: url(./images/icons/horde.gif) left center no-repeat;
}

.icon-alliance {
    padding-left: 12px;
    background: url(./images/icons/alliance.gif) left center no-repeat;
}

.icon-renegade {
    padding-left: 19px;
    background: url(./images/icons/renegade.gif) left center no-repeat;
}
